.vs
Debug/
x64/
/CrunchyMachine/CrunchyMachine.vcxproj.user
/AsteroCrunch/x64/Debug/AsteroCrunch.tlog/AsteroCrunch.lastbuildstate
/AsteroCrunch/x64/Debug/AsteroCrunch.tlog/CL.command.1.tlog
/AsteroCrunch/x64/Debug/AsteroCrunch.tlog/Cl.items.tlog
/AsteroCrunch/x64/Debug/AsteroCrunch.tlog/CL.read.1.tlog
/AsteroCrunch/x64/Debug/AsteroCrunch.tlog/CL.write.1.tlog
/AsteroCrunch/x64/Debug/AsteroCrunch.tlog/link.command.1.tlog
/AsteroCrunch/x64/Debug/AsteroCrunch.tlog/link.read.1.tlog
/AsteroCrunch/x64/Debug/AsteroCrunch.tlog/link.write.1.tlog
/AsteroCrunch/x64/Debug/AsteroCrunch.tlog/rc.command.1.tlog
/AsteroCrunch/x64/Debug/AsteroCrunch.tlog/rc.read.1.tlog
/AsteroCrunch/x64/Debug/AsteroCrunch.tlog/rc.write.1.tlog
/x64/Debug/AsteroCrunch.exe
/x64/Debug/AsteroCrunch.pdb
/AsteroCrunch/x64/Debug/AsteroCrunch.exe.recipe
/AsteroCrunch/x64/Debug/AsteroCrunch.ilk
/AsteroCrunch/x64/Debug/AsteroCrunch.log
/AsteroCrunch/x64/Debug/AsteroCrunch.obj
/AsteroCrunch/x64/Debug/vc143.idb
/AsteroCrunch/x64/Debug/vc143.pdb
/AsteroCrunch/x64/Release/AsteroCrunch.tlog
/AsteroCrunch/x64/Release
/CrunchyMachine/x64/Release/CrunchyMachine.tlog/CL.command.1.tlog
/CrunchyMachine/x64/Release/CrunchyMachine.tlog/Cl.items.tlog
/CrunchyMachine/x64/Release/CrunchyMachine.tlog/CL.read.1.tlog
/CrunchyMachine/x64/Release/CrunchyMachine.tlog/CL.write.1.tlog
/CrunchyMachine/x64/Release/CrunchyMachine.tlog/CrunchyMachine.lastbuildstate
/CrunchyMachine/x64/Release/CrunchyMachine.tlog/Lib-link-cvtres.read.1.tlog
/CrunchyMachine/x64/Release/CrunchyMachine.tlog/Lib-link-cvtres.write.1.tlog
/CrunchyMachine/x64/Release/CrunchyMachine.tlog/Lib.command.1.tlog
/CrunchyMachine/x64/Release/CrunchyMachine.tlog/link.read.1.tlog
/CrunchyMachine/x64/Release/CrunchyMachine.tlog/link.write.1.tlog
/CrunchyMachine/x64/Release/CrunchyMachine.tlog/rc.command.1.tlog
/CrunchyMachine/x64/Release/CrunchyMachine.tlog/rc.read.1.tlog
/CrunchyMachine/x64/Release/CrunchyMachine.tlog/rc.write.1.tlog
/CrunchyMachine/x64/Release/BitMask.obj
/CrunchyMachine/x64/Release/Camera.obj
/CrunchyMachine/x64/Release/Component.obj
/CrunchyMachine/x64/Release/CrunchyMachine.lib.recipe
/CrunchyMachine/x64/Release/CrunchyMachine.log
/CrunchyMachine/x64/Release/CrunchyMachine.res
/CrunchyMachine/x64/Release/D3DApp.obj
/CrunchyMachine/x64/Release/DDSTextureLoader.obj
/CrunchyMachine/x64/Release/Engine.obj
/CrunchyMachine/x64/Release/GameObject.obj
/CrunchyMachine/x64/Release/GameObjectManager.obj
/CrunchyMachine/x64/Release/GameTimer.obj
/CrunchyMachine/x64/Release/Input.obj
/CrunchyMachine/x64/Release/MeshGeometry.obj
/CrunchyMachine/x64/Release/PhysicsComponent.obj
/CrunchyMachine/x64/Release/PhysicsManager.obj
/CrunchyMachine/x64/Release/RenderComponent.obj
/CrunchyMachine/x64/Release/RenderManager.obj
/CrunchyMachine/x64/Release/Shader.obj
/CrunchyMachine/x64/Release/TextureShader.obj
/CrunchyMachine/x64/Release/Transform.obj
/CrunchyMachine/x64/Release/Window.obj
/x64/Release/AsteroCrunch.exe
/x64/Release/AsteroCrunch.pdb
/x64/Release/CrunchyMachine.lib
/x64/Release/CrunchyMachine.pdb
