.vs
Debug/
/CrunchyMachine/CrunchyMachine.vcxproj.user
/AsteroCrunch/x64/Debug/AsteroCrunch.tlog/AsteroCrunch.lastbuildstate
/AsteroCrunch/x64/Debug/AsteroCrunch.tlog/CL.command.1.tlog
/AsteroCrunch/x64/Debug/AsteroCrunch.tlog/Cl.items.tlog
/AsteroCrunch/x64/Debug/AsteroCrunch.tlog/CL.read.1.tlog
/AsteroCrunch/x64/Debug/AsteroCrunch.tlog/CL.write.1.tlog
/AsteroCrunch/x64/Debug/AsteroCrunch.tlog/link.command.1.tlog
/AsteroCrunch/x64/Debug/AsteroCrunch.tlog/link.read.1.tlog
/AsteroCrunch/x64/Debug/AsteroCrunch.tlog/link.write.1.tlog
/AsteroCrunch/x64/Debug/AsteroCrunch.tlog/rc.command.1.tlog
/AsteroCrunch/x64/Debug/AsteroCrunch.tlog/rc.read.1.tlog
/AsteroCrunch/x64/Debug/AsteroCrunch.tlog/rc.write.1.tlog
/x64/Debug/AsteroCrunch.exe
/x64/Debug/AsteroCrunch.pdb
/AsteroCrunch/x64/Debug/AsteroCrunch.exe.recipe
/AsteroCrunch/x64/Debug/AsteroCrunch.ilk
/AsteroCrunch/x64/Debug/AsteroCrunch.log
/AsteroCrunch/x64/Debug/AsteroCrunch.obj
/AsteroCrunch/x64/Debug/vc143.idb
/AsteroCrunch/x64/Debug/vc143.pdb
