.vs
Debug/
/CrunchyMachine/CrunchyMachine.vcxproj.user
/AsteroCrunch/x64/Debug/AsteroCrunch.tlog/CL.read.1.tlog
/AsteroCrunch/x64/Debug/AsteroCrunch.tlog/CL.write.1.tlog
/AsteroCrunch/x64/Debug/AsteroCrunch.tlog/link.read.1.tlog
/AsteroCrunch/x64/Debug/AsteroCrunch.tlog/link.write.1.tlog
/AsteroCrunch/x64/Debug/AsteroCrunch.obj
/AsteroCrunch/x64/Debug/vc143.idb
/AsteroCrunch/x64/Debug/vc143.pdb
/x64/Debug/AsteroCrunch.pdb
